<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Account Updated</title>
</head>
<body>
<table style="width: 600px; background-color: #fff">
    <tr align="center">
        <td style="text-align: center; vertical-align: middle;">
            <h1 style="font-family: Helvetica, sans-serif; font-size: 42px;">Account Updated</h1>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 10px 20px;">
                Dear {{ full_name }}
            </p>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 10px 20px;">
                The following information for your account was updated on {{ date_updated }}
            </p>
            <ul style="font-family: Helvetica, sans-serif; font-size: 18px; margin-left: 20px; margin-right: 20px;">
                {% for name in field_names %}
                    <li>{{ name }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 12px; padding: 0 20px 0 20px;">
                <em>Please do not reply to this email; this address is not monitored.</em>
            </p>
        </td>
    </tr>
</table>
</body>
</html>