<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Activate your account!</title>
</head>
<body>
<table style="width: 600px; background-color: #fff">
    <tr align="center">
        <td style="text-align: center; vertical-align: middle;">
            <h1 style="font-family: Helvetica, sans-serif; font-size: 42px;">Welcome!</h1>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 10px 20px;">
                We're excited to get you started! First you need to confirm your account. Just press the button
                below.
            </p>
        </td>
    </tr>
    <tr align="center">
        <td>
            <a href="{{ activation_link }}"
               style="background-color: #1561db; color: white; padding: 1em 1.5em; text-decoration: none; font-family: Helvetica, sans-serif; font-size: 18px; border-radius: 5px;">
                Confirm Account
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 10px 20px;">
                If that doesn't work, copy and pate the following link into your browser.
            </p>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 0 20px; color: #1561db">
                {{ activation_link }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 0 20px 0 20px;">
                When you log in to your account, you will be able to do the following:
            </p>
            <ul style="font-family: Helvetica, sans-serif; font-size: 18px; margin-left: 20px; margin-right: 20px;">
                <li>Proceed to checkout faster when making a purchase</li>
                <li>Check the status of orders</li>
                <li>View past orders</li>
                <li>Make changes to your account information</li>
                <li>Change your password</li>
                <li>Store alternative addresses</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 12px; padding: 0 20px 0 20px;">
                <em>Please do not reply to this email; this address is not monitored.</em>
            </p>
        </td>
    </tr>
</table>
</body>
</html>