<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Thank You for your Order!</title>
</head>
<body>
<table style="width: 600px; background-color: #fff">
    <tr align="center">
        <td style="text-align: center; vertical-align: middle;">
            <h1 style="font-family: Helvetica, sans-serif; font-size: 42px;">Thank You for your Order!</h1>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 10px 20px;">
                Your order has been received and is now being processed. Your details are shown
                below for your reference.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 36px; padding: 10px 20px 0 20px; color: #1561db">
                Order Number: {{ order_number }}
            </p>
        </td>
    </tr>
    <tr>
        <table style="width: 600px; border-collapse: collapse; margin-left: 20px">
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black; font-family: Helvetica, sans-serif; font-size: 24px; padding: 10px 20px 0 20px; color: #1561db">
                    Product
                </td>
                <td style="border: 1px solid black; font-family: Helvetica, sans-serif; font-size: 24px; padding: 10px 20px 0 20px; color: #1561db">
                    Price
                </td>
            </tr>
            {% for product in products %}
                <tr>
                    <td style="border: 1px solid black; font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 0 20px;">
                        {{ product.title }}
                    </td>
                    <td style="border: 1px solid black; font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 0 20px;">
                        £{{ product.price }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td style="border: 1px solid black; font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 0 20px;">
                    Total: £{{ product_total }}
                </td>
            </tr>
        </table>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 36px; padding: 10px 20px 0 20px; color: #1561db">
                Customer Details
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 0 20px 0 20px; margin: 0;">
                Email: {{ target_email }}
            </p>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 0 20px 0 20px; margin: 0;">
                Contact Number: {{ contact_number }}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 36px; padding: 10px 20px 0 20px; color: #1561db">
                Delivery Address
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 0 20px 0 20px; margin: 0;">
                Street: {{ street }}
            </p>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 0 20px 0 20px; margin: 0;">
                City: {{ city }}
            </p>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 0 20px 0 20px; margin: 0;">
                County: {{ county }}
            </p>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 0 20px 0 20px; margin: 0;">
                Postcode: {{ postcode }}
            </p>
        </td>
    </tr>
    <br/>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 12px; padding: 0 20px 0 20px;">
                <em>Please do not reply to this email; this address is not monitored.</em>
            </p>
        </td>
    </tr>
</table>
</body>
</html>