<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Thank You for Being Our Customer</title>
</head>
<body>
<table style="width: 600px; background-color: #fff">
    <tr align="center">
        <td style="text-align: center; vertical-align: middle;">
            <h1 style="font-family: Helvetica, sans-serif; font-size: 42px;">Thank You for Being Our Customer</h1>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 10px 20px;">
                To say thank you, we would like to offer you a discount.
            </p>
        </td>
    </tr>
    <tr align="center">
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 48px; padding: 10px 20px 0 20px; color: #1561db">
                {{ discount_title }}
            </p>
        </td>
    </tr>
    <tr align="center">
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 24px; padding: 0 20px 10px 20px;">
                {{ discount_code }}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 10px 20px;">
                Please redeem this coupon code on any
                product to receive a discount on your
                next purchase.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 12px; padding: 0 20px 0 20px;">
                <em>Please do not reply to this email; this address is not monitored.</em>
            </p>
        </td>
    </tr>
</table>
</body>
</html>