<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Your Account Details</title>
</head>
<body>
<table style="width: 600px; background-color: #fff">
    <tr align="center">
        <td style="text-align: center; vertical-align: middle;">
            <h1 style="font-family: Helvetica, sans-serif; font-size: 42px;">Welcome to OMS Manager</h1>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 10px 20px;">
                We're excited to get you started! To log into your new OMS-Manager account,
                please use the account details below.
            </p>
        </td>
    </tr>
    <tr align="center">
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 0 20px; color: #1561db">
                Username: {{ username }}
            </p>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 0 20px; color: #1561db">
                Password: {{ password }}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 18px; padding: 10px 20px 10px 20px;">
                When you sign in for the first time, you will be prompted to change
                your generated password to something more memorable.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Helvetica, sans-serif; font-size: 12px; padding: 0 20px 0 20px;">
                <em>Please do not reply to this email; this address is not monitored.</em>
            </p>
        </td>
    </tr>
</table>
</body>
</html>